body {
    background-color: rgb(125, 164, 199);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    color: white;

    border-radius: 2.5vw;
    width: 30vw;
    height: 30vw;
    margin: 7vw 0 0 0;
}
section .social {
    background-color: rgb(21, 21, 75);
    width: 30vw;
    height: 30vw;
    border-radius: 5rem 5rem 1rem 1rem;
    text-align: center;
    padding-top: 4.16vw;
}
section img {
    border-radius: 100vw;
    height: 14vw;
    width: 14vw;
    margin-bottom: 1vw;
    margin-top: -8vw;
}

section a {
    border: 1px solid white;
    border-radius: 0.5rem;
    padding: 0.9rem 0;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
}
